<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.example.history.Plugin"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Code History"
            id="com.example.history.ui">
      </category>
      <view
            category="com.example.history.ui"
            class="com.example.history.ui.views.CodeHistoryView"
            icon="icons/sample.gif"
            id="com.example.history.ui.views.CodeHistory"
            name="Code History">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               relative="org.eclipse.ui.views.ContentOutline"
               relationship="stack"
               id="com.example.history.ui.views.CodeHistory">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
